@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #09293f;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(54, 54, 54);
    color: #38A3A5;
}
.home-title {
    color: #38A3A5;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    color: #38A3A5;
    margin: 0;
}
h4 {
    color: #38A3A5;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: rgb(54, 54, 54);
}
body {
    background-color: rgb(54, 54, 54);
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: "Rock Salt", "Bradley Hand", sans-serif;
}
header {
    background-color: gray;
}
.book, .join {
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #09293f;
    color: #22577A;
}
.msg {
    background-color: gray;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #09293f;
}
.msg p {
    color: #09293f;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: gray;
    color: #09293f;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #09293f;
    text-decoration: none;
}
footer a:hover {
    color: #38A3A5;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#logo_link {
    padding-top: 5px;
}
.card-img {
    border: 10px solid #38A3A5;
}
/* I am rather sleepy*/