/* {
    border: 1px solid red
}*/
body {
    margin: 0;
    font-size: 24px;
    background-color: blanchedalmond;
}
img {
    width: 50%;
    display: block;
    margin: 40px;
    padding: 40px;
}
h1 {
    font-size: 2em;
    margin: 10px;
    text-decoration: underline;
    background-color: azure;
}
#content {
    padding: 40px;
    margin: 40px auto;
    max-width: 900px;
    background-color: white;
    text-align: center;
}